// Base
@import "base/variable";

// Componentes
@import "components/buttons";
@import "components/cards";

// reset global rapido
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    background-color: $dark-color;
    color: $light-color;
}


