// Colores Principales

$primary-color: #ffb703;     // Amarillo/naranja de Potencia
$dark-color: #0d1b2a;        // Fondo oscuro
$light-color: #f8f9fa;       // Texto claro o fondo blanco
$accent-color: #fb8500;      // Color secundario para botones 

// Tipografia

$font-main: 'Arial', sans-serif;